<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Deposits (FD/RD)</h4>
          <br>
          <div class="row">                    
            <div class="col-sm-2">
              <h6 class="mb-0">Select deposit Type</h6>
            </div>
            <div class="col-sm-5">
              <select  class="form-control" (change)="rdfd()">
                  <option>Recurring deposit</option>
                  <option>Fixed deposit</option>                 
              </select>
            </div>
          </div> 
          <br>
          <br>
          <div *ngIf="rdfield">
            <h4 class="card-title">Create Recurring deposit</h4>
            <br>            
            <div class="row">                    
                <div class="col-sm-3">
                  <h6 class="mb-0">How much would you like contribute monthly</h6>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" autofocus>
                </div>
              </div>
              <br>
              <br> 
              <div class="row">                    
                <div class="col-sm-3">
                  <h6 class="mb-0">From which account would you like to continue</h6>
                </div>
                <div class="col-sm-4">
                    <select  class="form-control" >
                        <option>XXXXXXXXXXXXX9879</option>
                        <option>XXXXXXXXXXXXX8789</option>                 
                    </select>
                </div>
              </div>
              <br>
              <br> 
              <div class="row">                    
                <div class="col-sm-3">
                  <h6 class="mb-0">For how long would you like to save</h6>
                </div>
                <div class="col-sm-4">
                    <select  class="form-control" >
                        <option>select year</option>
                        <option>1 year</option>
                        <option>2 year</option>                 
                    </select>
                </div>
                <div class="col-sm-4">
                    <select  class="form-control" >
                        <option>select month</option>
                        <option>0 month</option>
                        <option>1 month</option>                 
                    </select>
                </div>
              </div> 
              <br>
              <br>
              <div class="row">                    
                <div class="col-sm-3">
                  <h6 class="mb-0">Schedule a monthly transfer</h6>
                </div>
                <div class="col-sm-4">
                    <input nbInput placeholder="Opening Date" type="date"  class="form-control" name="">
                </div>
              </div> 
              <br>
              <br>
              <div class="row">                    
                <div class="col-sm-3">
                  <h6 class="mb-0">Nominee</h6>
                </div>
                <div class="col-sm-4">
                  <select  class="form-control" >
                    <option>select nominee</option>
                    <option>user1</option>
                    <option>user2</option>                 
                </select>
                </div>
              </div> 
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="btn btn-info btn-fw float-right" (click)="rddetails()">Submit</button>                                                                                  
                </div>                      
              </div>  
          </div>
          <div id="rd-receipt" *ngIf="reviewrdfield">
            <h4 class="card-title">Review Your Recurring deposit details</h4>
            <br>
            <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Name</h6>
                </div>
                <div class="col-sm-9 ">
                  <label>Kenneth Valdez</label>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">monthly contribution</h6>
                </div>
                <div class="col-sm-9 ">
                  <label>Rs: 100</label>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">monthly contribution date</h6>
                </div>
                <div class="col-sm-9 ">
                  <label>1st of every month</label>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Account</h6>
                </div>
                <div class="col-sm-9 ">
                  <label>XXXXXXXXXXX9878</label>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Tenure</h6>
                </div>
                <div class="col-sm-9 ">
                  <label>1 year 0 month</label>
                </div>
              </div>                                            
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Maturity date</h6>
                </div>
                <div class="col-sm-9">
                  <label>12 JAN 2022</label>
                </div>
              </div> 
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Rate of interest</h6>
                </div>
                <div class="col-sm-9">
                  <label>6.00%</label>
                </div>
              </div> 
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Maturity Amount</h6>
                </div>
                <div class="col-sm-9">
                  <label>Rs: 1239.00</label>
                </div>
              </div> 
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="btn btn-info btn-fw float-right" >Confirm</button>                                                                                  
                </div>                      
              </div>
          </div>                  
          <div *ngIf="fdfield">
            <h4 class="card-title">Create Fixed deposit</h4>
            <br>            
            <div class="row">                    
                <div class="col-sm-3">
                  <h6 class="mb-0">How much would you like contribute</h6>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" autofocus>
                </div>
              </div>
              <br>
              <br> 
              <div class="row">                    
                <div class="col-sm-3">
                  <h6 class="mb-0">From which account would you like to continue</h6>
                </div>
                <div class="col-sm-4">
                    <select  class="form-control" >
                        <option>XXXXXXXXXXXXX9879</option>
                        <option>XXXXXXXXXXXXX8789</option>                 
                    </select>
                </div>
              </div>
              <br>
              <br> 
              <div class="row">                    
                <div class="col-sm-3">
                  <h6 class="mb-0">For how long would you like to save</h6>
                </div>
                <div class="col-sm-4">
                    <select  class="form-control" >
                        <option>select year</option>
                        <option>1 year</option>
                        <option>2 year</option>                 
                    </select>
                </div>
                <div class="col-sm-4">
                    <select  class="form-control" >
                        <option>select month</option>
                        <option>0 month</option>
                        <option>1 month</option>                 
                    </select>
                </div>
              </div>               
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="btn btn-info btn-fw float-right" (click)="rddetails()">Submit</button>                                                                                  
                </div>                      
              </div>  
          </div>
        </div>
     </div>
    </div>
</div>
          