<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Opening Deposit Account</h4>
        <hr>
        <br>
        <div class="card-container">
          <a routerLink="fd">
            <div class="card">
              <div class="card-img pt-3">
                <center><img class="img-fluid" src="../../../assets/images/deposit/fixed-deposit.png"
                    alt="fixed-deposit"></center>
              </div>
              <hr>
              <div class="container d-flex justify-content-center">
                <h2>Fixed Deposit</h2>
              </div>
            </div>
          </a>

          <a routerLink="rd">
            <div class=" card">
              <div class="card-img pt-3">
                <center><img class="img-fluid" src="../../../assets/images/deposit/recurring-deposit-2.png"
                    alt="recurring-deposit"></center>
              </div>
              <hr>
              <div class="container d-flex justify-content-center">
                <h2>Recurring Deposit</h2>
              </div>
            </div>
          </a>
        </div>
        <br>
        <!-- account status -->
        <div class="account-status">
          <div class="filter">
            <h4 class="card-title">Opening Deposit Account</h4>
            <input class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Filter" #input>
          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
            <!-- Position Column -->
            <ng-container matColumnDef="AccountNumber">
              <th mat-header-cell *matHeaderCellDef> Account Number </th>
              <td mat-cell *matCellDef="let element"> {{element.AccountNumber}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="DepositAmount">
              <th mat-header-cell *matHeaderCellDef> Deposit Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.DepositAmount}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Interest">
              <th mat-header-cell *matHeaderCellDef> Interest </th>
              <td mat-cell *matCellDef="let element"> {{element.Interest}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="TotalAmount">
              <th mat-header-cell *matHeaderCellDef> Total Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.TotalAmount}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </div>

      </div>
    </div>
  </div>
</div>