<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Opening Deposit Account</h4>
        <hr>
        <br>
        <div class="card-container">
          <mat-card class="content-card">
            <a routerLink="fd">
              <div class="row">
                <div class="col-sm-2 content-icon">
                  <img class="img-fluid" src="../../../assets/images/deposit/fixed-deposit.png" alt="fixed-deposit">
                </div>
                <div class="col-sm-10">
                  <h2>Fixed Deposit</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quasi.
                  </p>
                </div>
              </div>
            </a>
          </mat-card>
          <mat-card class="content-card">
            <a routerLink="rd">
              <div class="row">
                <div class="col-sm-2 content-icon">
                  <img class="img-fluid" src="../../../assets/images/deposit/recurring-deposit-2.png"
                    alt="recurring-deposit">
                </div>
                <div class="col-sm-10">
                  <h2>Recurring Deposit</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quasi.</p>
                </div>
              </div>
            </a>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>