<div class="card">
    <div class="card-body">
        <h4 class="card-title">Deposit Scheme Application Form</h4>
        <br>
        <form class="forms-sample">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="user-id">User ID</label>
                        <input type="number" class="form-control" id="user-id" required disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="min-period">Minimum Period</label>
                        <input type="text" class="form-control" id="min-period">
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Monthly-income-plan">Monthly Income Plan</label>
                        <input type="number" class="form-control" id="Monthly-income-plan" required>
                    </div>
                    <div class="col-md-6">
                        <label for="quaterly-option">Quaterly Option</label>
                        <input type="number" class="form-control" id="quaterly-option" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="half-yearly-option">Half Yearly Option</label>
                        <input type="number" class="form-control" id="half-yearly-option" required>
                    </div>
                    <div class="col-md-6">
                        <label for="annual-income">Annual Income</label>
                        <input type="number" class="form-control" id="annual-income" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="cumulative-option">Cumulative Option</label>
                        <input type="number" class="form-control" id="cumulative-option" required>
                    </div>
                    <div class="col-md-6">
                        <label for="deposit-type">Deposit Type</label>
                        <input type="text" class="form-control" id="deposit-type" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="status">Status</label>
                        <select class="form-control" id="status">
                            <option value="" disabled selected hidden>Choose option</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="maximum-period">Maximum Period</label>
                        <input type="text" class="form-control" id="maximum-period" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="scheme-name">Scheme Name</label>
                        <input type="text" class="form-control" id="scheme-name" required>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-success mr-2 float-right">Submit</button>
        </form>
    </div>
</div>