<div class="grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Your Loans Status</h4>
            <br>
            <!-- <p class="card-description">
                Add class <code>.table-hover</code>
            </p> -->
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Loan Name</th>
                            <th>Loan Amount</th>
                            <th>Repayment Amount</th>
                            <th>Repayment Date</th>
                            <th>View in Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Home Loan</td>
                            <td> ₹.120000</td>
                            <td class="text-danger"> ₹.150000 <i class="mdi mdi-arrow-down"></i></td>
                            <td>feb 12,2022</td>
                            <td><a class="badge badge-info">view</a></td>
                        </tr>

                        <tr>
                            <td>Home Loan</td>
                            <td> ₹.150000</td>
                            <td class="text-success"> ₹.100000 <i class="mdi mdi-arrow-up"></i></td>
                            <td>feb 12,2022</td>
                            <td><a class="badge badge-info">view</a></td>
                        </tr>

                        <tr>
                            <td>Home Loan</td>
                            <td> ₹.120000</td>
                            <td class="text-danger"> ₹.150000 <i class="mdi mdi-arrow-down"></i></td>
                            <td>feb 12,2022</td>
                            <td><a class="badge badge-info">view</a></td>
                        </tr>

                        <tr>
                            <td>Home Loan</td>
                            <td> ₹.180000</td>
                            <td class="text-success"> ₹.120000 <i class="mdi mdi-arrow-up"></i></td>
                            <td>feb 12,2022</td>
                            <td><a class="badge badge-info">view</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>