<mat-horizontal-stepper>
    <mat-step label="Applied" [editable]="false">
        <h3>Card Application Status</h3>
        <hr>
        <form>
            <div class="form-group">
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Referance ID</label>
                    </div>
                    <div class="col-sm-3">
                        <label>A122966Qwe099813</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Status</label>
                    </div>
                    <div class="col-sm-3">
                        <label>Applied by user</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Applied Date and Time</label>
                    </div>
                    <div class="col-sm-3">
                        <label>12/01/2021 at 12:30PM</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Remarks</label>
                    </div>
                    <div class="col-sm-3">
                        <label>-No Remarks-</label>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary mr-2 float-right">Print</button>
        </form>
    </mat-step>

    <mat-step label="Received" [editable]="false">
        <h3>Card Application Status</h3>
        <hr>
        <form>
            <div class="form-group">
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Referance ID</label>
                    </div>
                    <div class="col-sm-3">
                        <label>A122966Qwe099813</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Status</label>
                    </div>
                    <div class="col-sm-3">
                        <label>Received to Head Office</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Received Date and Time</label>
                    </div>
                    <div class="col-sm-3">
                        <label>13/01/2021 at 12:30PM</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Remarks</label>
                    </div>
                    <div class="col-sm-3">
                        <label>-No Remarks-</label>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary mr-2 float-right">Print</button>
        </form>
    </mat-step>

    <mat-step label="Approved" [editable]="false">
        <h3>Card Application Status</h3>
        <hr>
        <form>
            <div class="form-group">
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Referance ID</label>
                    </div>
                    <div class="col-sm-3">
                        <label>A122966Qwe099813</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Status</label>
                    </div>
                    <div class="col-sm-3">
                        <label>Approved by Head Manager</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Approved Date and Time</label>
                    </div>
                    <div class="col-sm-3">
                        <label>14/01/2021 at 12:30PM</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Remarks</label>
                    </div>
                    <div class="col-sm-3">
                        <label>-No Remarks-</label>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary mr-2 float-right">Print</button>
        </form>
    </mat-step>

    <mat-step label="Delivered" [editable]="false">
        <h3>Card Application Status</h3>
        <hr>
        <form>
            <div class="form-group">
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Referance ID</label>
                    </div>
                    <div class="col-sm-3">
                        <label>A122966Qwe099813</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Status</label>
                    </div>
                    <div class="col-sm-3">
                        <label>Delivered to Applicant</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Delivered Date and Time</label>
                    </div>
                    <div class="col-sm-3">
                        <label>18/01/2021 at 12:30PM</label>
                    </div>
                </div>
                <div class="row  justify-content-center mb-2">
                    <div class="col-sm-3">
                        <label>Remarks</label>
                    </div>
                    <div class="col-sm-3">
                        <label>-No Remarks-</label>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary mr-2 float-right">Print</button>
        </form>
    </mat-step>
</mat-horizontal-stepper>