<div class="card">
    <div class="card-body">
        <h4 class="card-title">Home Application Form</h4>
        <br>
        <form class="forms-sample">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="loanNumber">Loan Number</label>
                        <input type="text" class="form-control" id="loanNumber" placeholder="Enter Loan Number"
                            required>
                    </div>
                    <div class="col-md-6">
                        <label>Loan ID</label>
                        <input type="text" class="form-control" disabled required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Bank Customer</label>
                        <select class="form-control" required>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Bank Account Number</label>
                        <input type="number" class="form-control" placeholder="Enter Bank Account Number" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Bank Name</label>
                        <input type="text" class="form-control" placeholder="Enter Bank Name" required>
                    </div>
                    <div class="col-md-6">
                        <label>IFSC Code</label>
                        <input type="text" class="form-control" placeholder="Enter IFSC Code" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Loan Amount</label>
                        <input type="number" class="form-control" placeholder="Enter Loan Amount" required>
                    </div>
                    <div class="col-md-6">
                        <label>Tenure</label>
                        <input type="number" step="1" pattern="\d+" class="form-control" placeholder="Enter Tenure"
                            required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Gurant1</label>
                        <input type="text" class="form-control" placeholder="Enter Gurant1" required>
                    </div>
                    <div class="col-md-6">
                        <label>Gurant2</label>
                        <input type="text" class="form-control" placeholder="Enter Gurant2" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Date of Application</label>
                        <input type="date" class="form-control" placeholder="Enter Date of Application\" required>
                    </div>
                    <div class="col-md-6">
                        <label>Upload Photo</label>
                        <div class="input-group">
                            <input type="file" style="display: none;" #photoInput required>
                            <input type="text" class="form-control file-upload-info" placeholder="Upload Photocopy"
                                disabled>
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-gradient-primary" type="button"
                                    (click)="photoInput.click()">Upload</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success mr-2">Submit</button>
        </form>
    </div>
</div>