
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">Transaction</h4>   
            <div class="fx-row">
                <div id="Beneficiaries-field">
                    <br>
                    <div class="row">                    
                      <div class="col-sm-2">
                        <h6 class="mb-0">Transfer To</h6>
                      </div>
                      <div class="col-sm-9">
                        <select  class="form-control" >
                            <option>Username 1</option>
                            <option>Username 2</option>
                            <option>Username 3</option>
                            <option>Username 4</option>
                            <option>Username 5</option>
                            <option>Username 6</option>
                        </select>
                      </div>
                    </div>                                       
                    <hr>
                    <div class="row">                    
                        <div class="col-sm-2">
                          <h6 class="mb-0">Amount</h6>
                        </div>
                        <div class="col-sm-9">
                          <input type="text" class="form-control">
                        </div>
                      </div>   

                    <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <button type="button" class="btn btn-info btn-fw float-right">Transfer</button>                                                                                  
                      </div>                      
                    </div> 
                  </div>              
                    <br>                                        
              </div>                         
        </div>       
      </div>
    </div>
</div>
  