<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Schemes</h4>
        <hr>
        <h4>General Public FD Rate</h4>
        <div class="table-responsive" data-pattern="priority-columns">
          <table class="table table-bordered table-hover">
            <thead style="background-color: rgb(192, 192, 192);">
              <tr>
                <th data-priority="1">Scheme Name</th>
                <th data-priority="2">Interest</th>
                <th data-priority="3">Maturity Amount</th>
                <th data-priority="4">Tenure</th>
                <th data-priority="5" style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monthly Scheme</td>
                <td>2.00%</td>
                <td>12000.00</td>
                <td>8 months</td>
                <td style="text-align: center;">
                  <input type="checkbox">
                </td>
              </tr>
              <tr>
                <td>Quarterly Scheme</td>
                <td>2.50%</td>
                <td>12500.00</td>
                <td>2 years 0 month</td>
                <td style="text-align: center;">
                  <input type="checkbox">
                </td>
              </tr>
              <tr>
                <td>Annual Scheme</td>
                <td>5.00%</td>
                <td>12000.00</td>
                <td>5 years 0 month</td>
                <td style="text-align: center;">
                  <input type="checkbox">
                </td>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
        <br>
        <!-- Senior Citizens FD Rate -->
        <h4>Senior Citizens FD Rate</h4>
        <div class="table-responsive" data-pattern="priority-columns">
          <table class="table table-bordered table-hover">
            <thead style="background-color: rgb(192, 192, 192);">
              <tr>
                <th data-priority="1">Scheme Name</th>
                <th data-priority="2">Interest</th>
                <th data-priority="3">Maturity Amount</th>
                <th data-priority="4">Tenure</th>
                <th data-priority="5" style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monthly Scheme</td>
                <td>2.00%</td>
                <td>12000.00</td>
                <td>8 months</td>
                <td style="text-align: center;">
                  <input type="checkbox">
                </td>
              </tr>
              <tr>
                <td>Quarterly Scheme</td>
                <td>2.50%</td>
                <td>12500.00</td>
                <td>2 years 0 month</td>
                <td style="text-align: center;">
                  <input type="checkbox">
                </td>
              </tr>
              <tr>
                <td>Annual Scheme</td>
                <td>5.00%</td>
                <td>12000.00</td>
                <td>5 years 0 month</td>
                <td style="text-align: center;">
                  <input type="checkbox">
                </td>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>