* {
  box-sizing: border-box;
}
.bg-img {
  height: 100vh;
  width: 100vw;
  background: url("../../../assets/images/samples/1280x768/1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  position: absolute;
}
.auth-form-light {
  position: relative;
  left: 350px;
  top: 200px;
}
