<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <!-- Accounts -->
    <li class="nav-item">
      <a class="nav-link" (click)="accountCollapsed = !accountCollapsed" [attr.aria-expanded]="accountCollapsed"
        aria-controls="auth">
        <span class="menu-title">Account</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-account menu-icon"></i>
      </a>
      <div class="collapse" [ngbCollapse]="!accountCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="Accounts/Account-overview" routerLinkActive="active"
              #accountoverview="routerLinkActive">Account Overview</a></li>
          <li class="nav-item">
            <a class="nav-link" (click)="FundCollapsed = !FundCollapsed" [attr.aria-expanded]="FundCollapsed"
              aria-controls="auth">
              <span class="sub menu-title">Fund Transfer</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" [ngbCollapse]="!FundCollapsed">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" routerLink="Accounts/Fund-Transfer" routerLinkActive="active"
                    #accountoverview="routerLinkActive">Add Beneficiaries</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="Accounts/Transaction" routerLinkActive="active"
                    #accountoverview="routerLinkActive">Transaction</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <!-- deposits -->
    <li class="nav-item">
      <a class="nav-link" routerLink="Deposit/opening-deposit">
        <span class="menu-title">Deposits</span>
      </a>
    </li>

    <!-- Loan -->
    <li class="nav-item">
      <a class="nav-link" (click)="loanCollapsed = !loanCollapsed" [attr.aria-expanded]="loanCollapsed"
        aria-controls="auth">
        <span class="menu-title">Loan</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" [ngbCollapse]="!loanCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="loan/apply-loan" routerLinkActive="active" #modals="routerLinkActive">Apply
              Loan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="loan/view-all-loan" routerLinkActive="active"
              #modals="routerLinkActive">View All Loans</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link">View One Loan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Loan Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Loan Repayments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Loan Payment</a>
          </li> -->
        </ul>
      </div>
    </li>

    <!-- Debit Credit Cards -->
    <li class="nav-item">
      <a class="nav-link" (click)="debitCreditCardCollapsed = !debitCreditCardCollapsed"
        [attr.aria-expanded]="debitCreditCardCollapsed" aria-controls="auth">
        <span class="menu-title">Debit Cards/Credit Cards</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" [ngbCollapse]="!debitCreditCardCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="debit-credit-card/apply-new-card" routerLinkActive="active"
              #modals="routerLinkActive">Apply
              New Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="debit-credit-card/card-satus" routerLinkActive="active"
              #modals="routerLinkActive">Card Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="debit-credit-card/lost-card-complaint" routerLinkActive="active"
              #modals="routerLinkActive">Lost Card Complaint</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Value Added Service -->
    <li class="nav-item">
      <a class="nav-link" (click)="valAdServCollapsed = !valAdServCollapsed" [attr.aria-expanded]="valAdServCollapsed"
        aria-controls="auth">
        <span class="menu-title">Value Added Service</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" [ngbCollapse]="!valAdServCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="./value-added-service/bill-payment" routerLinkActive="active"
              #modals="routerLinkActive">Bill Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="value-added-service/other-facilities" routerLinkActive="active"
              #modals="routerLinkActive">Other Facilities</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- help and support -->
    <li class="nav-item">
      <a class="nav-link" routerLink="help-and-support">
        <span class="menu-title">Help & Support</span>
      </a>
    </li>
    <!-- sample pages -->
    <li class="nav-item"
      [ngClass]="{ 'active' : blankPage.isActive || login.isActive || register.isActive || error404.isActive || error500.isActive }">
      <a class="nav-link" (click)="samplePagesCollapsed = !samplePagesCollapsed"
        [attr.aria-expanded]="samplePagesCollapsed" aria-controls="auth">
        <span class="menu-title">Sample Pages</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-medical-bag menu-icon"></i>
      </a>
      <div class="collapse" id="auth" [ngbCollapse]="!samplePagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="general-pages/blank-page" routerLinkActive="active"
              #blankPage="routerLinkActive"> Blank Page </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="user-pages/login" routerLinkActive="active"
              #login="routerLinkActive"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="user-pages/logout" routerLinkActive="active"
              #login="routerLinkActive"> Logout </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="user-pages/register" routerLinkActive="active"
              #register="routerLinkActive"> Register </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="error-pages/404" routerLinkActive="active"
              #error404="routerLinkActive"> 404 </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="error-pages/500" routerLinkActive="active"
              #error500="routerLinkActive"> 500 </a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>