<div class="card">
    <div class="card-body">
        <h4 class="card-title">Lost Card Complaint</h4>
        <br>
        <form class="forms-sample">
            <div class="form-group">
                <label>Card Number</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter Your Card Number" required>
                <hr>
                <label>Reason</label>
                <select class="form-control">
                    <option value="stolen">Stolen</option>
                    <option value="Lost">Lost</option>
                </select>
                <hr>
                <label>Description</label>
                <textarea cols="30" rows="10" class="form-control"></textarea>
            </div>
            <hr>
            <button type="submit" class="btn btn-success mr-2">Submit</button>
        </form>
    </div>
</div>