<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Help & Support</h4>
                <hr>
                <br>
                <div class="card-container">
                    <mat-card class="content-card">
                        <a href="https://www.google.co.in/" target="_blank">
                            <div class="row">
                                <div class="col-sm-2 content-icon">
                                    <i class="mdi mdi-earth icon-lg"></i>
                                </div>
                                <div class="col-sm-10">
                                    <h2>Browse our FAQs</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quasi.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </mat-card>
                    <mat-card class="content-card">
                        <a routerLink="dispute-transaction">
                            <div class="row">
                                <div class="col-sm-2 content-icon">
                                    <i class="mdi mdi-alert-circle-outline icon-lg"></i>
                                </div>
                                <div class="col-sm-10">
                                    <h2>Dispute a transaction</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quasi.</p>
                                </div>
                            </div>
                        </a>
                    </mat-card>
                    <mat-card class="content-card">
                        <a routerLink="chatbot">
                            <div class="row">
                                <div class="col-sm-2 content-icon">
                                    <i class="mdi mdi-message-text icon-lg"></i>
                                </div>
                                <div class="col-sm-10">
                                    <h2>Have questions?</h2>
                                    <p>Our virtual assistant always ready to help you!.</p>
                                </div>
                            </div>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="chatbot-img">
    <a href="#">
        <span>
            <img src="../../assets/images/chatbot/chatbot-img.png" alt="chatbot">
        </span>
    </a>
</div> -->