<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span>
    Dashboard
  </h3>
</div>
<!-- welcome notes -->
<div class="welcome-note container">
  <h1>Welcome Nanthagopal</h1>
  <h6>Last Login: Jan 10,2021 at 14:00</h6>
</div>

<!-- quick services -->
<div class="quick-services">
  <div class="row">
    <div class="col-md-4">
      <a class="btn download-button btn-success btn-fw">
        <span><i class="mdi mdi-transfer"></i></span>
        Quick Access Transaction
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn download-button btn-success btn-fw">
        <span><i class="mdi mdi-cellphone-android"></i></span>
        Reacharge
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn download-button btn-success btn-fw">
        <span><i class="mdi mdi-checkbox-marked-circle"></i></span>
        Pay Bills
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a class="btn download-button btn-success btn-fw">
        <span><i class="mdi mdi-hand-heart"></i></span>
        New Loans
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn download-button btn-success btn-fw">
        <span><i class="mdi mdi-database-plus"></i></span>
        Payees New Deposit
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn download-button btn-success btn-fw">
        <span><i class="mdi mdi-cash-multiple"></i></span>
        New Mutual Funds
      </a>
    </div>
  </div>
</div>


<!-- account details -->
<div class="container account-details">
  <div class="card card-accent-dark">
    <div class="card-header">Accounts</div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <p>
            <i class="mdi mdi-phone text-info"></i>
            Account Number
          </p>
        </div>
        <div class="col">
          <p>0000123456334</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            <i class="mdi mdi-email-outline text-success"></i>
            Account Balance
          </p>
        </div>
        <div class="col">
          <p>₹250000</p>
        </div>
      </div>
    </div>
  </div>
</div>