<div class="card">
    <div class="card-body">
        <h4 class="card-title">Choose Your Credit Card</h4>
        <br>
        <div class="crditCard-container d-flex justify-content-center">
            <div class="row">
                <div class="column text-center">
                    <img style="z-index: 1  ;position: relative; width: 230px;"
                        src="https://www.sbicard.com/sbi-card-en/assets/media/images/personal/credit-cards/rewards/card-faces/prime-amex-card-face.png"
                        alt="credit-card">
                    <p>Premium Card</p>
                    <button class="btn btn-success" [popoverOnHover]="false" [popover]="myPopover">Apply</button>
                </div>
                <div class="column text-center">
                    <img style="z-index: 1  ;position: relative; width: 230px;"
                        src="https://www.sbicard.com/sbi-card-en/resources/img/cardface/shopping/simplyclick-cardface-n.svg"
                        alt="credit-card">
                    <p>Premium Card</p>
                    <button class="btn btn-success" [popoverOnHover]="false" [popover]="myPopover">Apply</button>
                </div>
                <div class="column text-center">
                    <img style="z-index: 1  ;position: relative; width: 230px;"
                        src="https://www.sbicard.com/sbi-card-en/assets/media/images/personal/credit-cards/value-savings/card-faces/simplysave-card-face.png"
                        alt="credit-card">
                    <p>Premium Card</p>
                    <button class="btn btn-success" [popoverOnHover]="false" [popover]="myPopover_left">Apply</button>
                </div>
            </div>
        </div>

        <!-- popover content -->
        <popover-content #myPopover placement="middle right" [animation]="true" [closeOnClickOutside]="true"
            [closeOnMouseOutside]="false">
            <h5 class="card-title">Card Benifits</h5>
            <hr style="border-color: #96f18a;">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, ipsum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, velit.</p>
            <hr style="border-color: #96f18a;">
            <button class="btn btn-success btn-block">Select</button>
        </popover-content>
        <!-- left aligned popover for last card -->
        <popover-content #myPopover_left placement="middle left" [animation]="true" [closeOnClickOutside]="true"
            [closeOnMouseOutside]="false">
            <h5 class="card-title">Card Benifits</h5>
            <hr style="border-color: #96f18a;">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, ipsum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, velit.</p>
            <hr style="border-color: #96f18a;">
            <button class="btn btn-success btn-block">Select</button>
        </popover-content>

        <!-- popup dialouge -->
    </div>
</div>