.crditCard-container {
  img {
    margin: 0 10px;
  }
  p {
    text-align: center;
    margin-top: 5px;
  }
}
.pop-over {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    width: 300px;
    height: 370px;
    margin: 10px;
    padding: 20px 20px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card-body {
    padding: 10px;
  }
}
