<div class="card">
    <div class="card-body">
        <h4 class="card-title">User Deposit Application Form</h4>
        <br>
        <form class="forms-sample">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="user-id">User ID</label>
                        <input type="number" class="form-control" id="user-id" required disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="deposit-type">Deposit Type</label>
                        <select class="form-control" id="deposit-type">
                            <option value="" disabled selected hidden>Choose Deposit Type</option>
                            <option value="fd">Fixed Deposit</option>
                            <option value="rd">Recurring Deposit</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="user-acc-no">User Account Number</label>
                        <input type="number" class="form-control" id="user-acc-no" required>
                    </div>
                    <div class="col-md-6">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="amount"
                            placeholder="how much amount do you want to deposit?" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="maturity-amount">Maturity Amount</label>
                        <input type="number" class="form-control" id="maturity-amount" required>
                    </div>
                    <div class="col-md-6">
                        <label for="maturity-date">Maturity Date</label>
                        <input type="date" class="form-control" id="maturity-date" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="scheme-name">Scheme Name</label>
                        <input type="text" class="form-control" id="scheme-name" required>
                    </div>
                    <div class="col-md-6">
                        <label for="scheme">Scheme</label>
                        <input type="text" class="form-control" id="scheme" required disabled>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Nominee-name">Nominee Name</label>
                        <input type="text" class="form-control" id="Nominee-name" required>
                    </div>
                    <div class="col-md-6">
                        <label for="Nominee-type">Nominee Type</label>
                        <input type="text" class="form-control" id="Nominee-type" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Return-pay-method">Return Pay Method</label>
                        <select name="options" class="form-control" id="Return-pay-method"
                            (change)="selectOption($event.target.value)">
                            <option disabled selected hidden>Choose Payment Option</option>
                            <option value="online-transfer">Online Transfer</option>
                            <option value="Cheque">Cheque</option>
                            <option value="DD">DD</option>
                        </select>
                    </div>
                    <div *ngIf="state" class="col-md-6">
                        <label for="payment-no">{{selectedTeansMethod}} Number</label>
                        <input type="text" class="form-control" id="payment-no" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="user-type">User Type</label>
                        <select class="form-control" id="user-type" required disabled>
                            <option value="" disabled selected hidden>Choose User Type</option>
                            <option value="new-user">New User</option>
                            <option value="existing-user">Existing User</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="status">Status</label>
                        <select class="form-control" id="status" required>
                            <option value="" disabled selected hidden>Choose Status</option>
                            <option value="online-transfer">Yes</option>
                            <option value="cheque">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-success mr-2 float-right">Submit</button>
        </form>
    </div>
</div>