<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div *ngIf="form">
                    <form [formGroup]="FDDetailsForm">
                        <label class="card-title">Open Fixed deposit</label>
                        <hr>
                        <div class="row">
    
                            <div class="col-sm-3">
                                <label class="mb-0">Deposit Amount</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="Amount" formControlName="Amount"
                              [ngClass]="{ 'is-invalid': submitted && f.Amount.errors }">                  
                            <div *ngIf="submitted && f.Amount.errors" class="invalid-feedback">
                              <div *ngIf="f.Amount.errors.required">amount required</div>
                            </div>
                            </div>                                                                                           
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0">From which account would you like to continue</label>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" class="form-control" name="user_ID" formControlName="user_ID"
                                [ngClass]="{ 'is-invalid': submitted && f.user_ID.errors }">
                                    <option disabled selected hidden>Choose Account Number</option>
                                    <option>XXXXXXXXXXXXX9879</option>
                                    <option>XXXXXXXXXXXXX8789</option>
                                </select>
                                <div *ngIf="submitted && f.user_ID.errors" class="invalid-feedback">
                                    <div *ngIf="f.user_ID.errors.required">account required</div>
                                  </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0">Nominee Details</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" placeholder="Nominee_name" name="Nominee_name" formControlName="Nominee_name"
                                [ngClass]="{ 'is-invalid': submitted && f.Nominee_name.errors }">
                                <div *ngIf="submitted && f.Nominee_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.Nominee_name.errors.required">nominee name required</div>
                                  </div>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" name="Nominee_type" formControlName="Nominee_type"
                                [ngClass]="{ 'is-invalid': submitted && f.Nominee_type.errors }">
                                    <option disabled selected hidden>Relationship with Depositor</option>
                                    <option>Mother</option>
                                    <option>Father</option>
                                    <option>sibiling</option>
                                </select>
                                <div *ngIf="submitted && f.Nominee_type.errors" class="invalid-feedback">
                                    <div *ngIf="f.Nominee_type.errors.required">nominee type required</div>
                                  </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="mb-0">For how long would you like to save</label>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" name="year" formControlName="year"
                                [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
                                    <option disabled selected hidden>select year</option>
                                    <option value="1">1 year</option>
                                    <option value="2">2 year</option>
                                </select>
                                <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                                    <div *ngIf="f.year.errors.required">year required</div>
                                  </div>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" name="month" formControlName="month"
                                [ngClass]="{ 'is-invalid': submitted && f.month.errors }">
                                    <option disabled selected hidden>select month</option>
                                    <option value="0">0 month</option>
                                    <option value="1">1 month</option>
                                </select>
                                <div *ngIf="submitted && f.month.errors" class="invalid-feedback">
                                    <div *ngIf="f.month.errors.required">month required</div>
                                  </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-info btn-fw float-right" (click)="toSchemes()">Submit
                            </button>
                        </div>
                    </div>
                </form>
                </div>

                <div *ngIf="schemes" class="schemes-container">
                    <h1 class="card-title">Schemes</h1>
                    <hr>
                    <div class="schemes-body d-flex justify-content-center">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Monthly Scheme</h5>
                                <hr style="border-color: #96f18a;">
                                <div class="container">
                                    <p><b>Scheme Details:</b> </p>

                                    <ul>
                                        <li>
                                            <p>Min.Deposit Amount : 2000</p>
                                        </li>
                                        <li>
                                            <p> Min.Period : 1 Months </p>
                                        </li>
                                        <li>
                                            <p>Interest Rate : 2%/month </p>
                                        </li>
                                        <li>
                                            <p> Tenure Period : 5 Months </p>
                                        </li>
                                    </ul>
                                    <hr style="border-color: #96f18a;">
                                    <button (click)="toPreview()" class="btn btn-success btn-block">Select</button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Quarterly Scheme</h5>
                                <hr style="border-color: #96f18a;">
                                <div class="container">
                                    <p><b>Scheme Details:</b> </p>

                                    <ul>
                                        <li>
                                            <p>Min.Deposit Amount : 2000</p>
                                        </li>
                                        <li>
                                            <p> Min.Period : 1 Months </p>
                                        </li>
                                        <li>
                                            <p>Interest Rate : 2%/month </p>
                                        </li>
                                        <li>
                                            <p> Tenure Period : 5 Months </p>
                                        </li>
                                    </ul>
                                    <hr style="border-color: #96f18a;">
                                    <button (click)="toPreview()" class="btn btn-success btn-block">Select</button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">annual scheme</h5>
                                <hr style="border-color: #96f18a;">
                                <div class="container">
                                    <p><b>Scheme Details:</b> </p>

                                    <ul>
                                        <li>
                                            <p>Min.Deposit Amount : 2000</p>
                                        </li>
                                        <li>
                                            <p> Min.Period : 1 Months </p>
                                        </li>
                                        <li>
                                            <p>Interest Rate : 2%/month </p>
                                        </li>
                                        <li>
                                            <p> Tenure Period : 5 Months </p>
                                        </li>
                                    </ul>
                                    <hr style="border-color: #96f18a;">
                                    <button (click)="toPreview()" class="btn btn-success btn-block">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button d-flex justify-content-center">
                        <button type="button" class="btn btn-danger" (click)="schemes=!schemes;form=!form">Back
                        </button>
                    </div>
                </div>


                <div *ngIf="preview" class="preview">
                    <label class="card-title">Review Your Recurring deposit details</label>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="mb-0">Name</label>
                        </div>
                        <div class="col-sm-9 ">
                            <label>Kenneth Valdez</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="mb-0">Deposit Amount</label>
                        </div>
                        <div class="col-sm-9 ">
                            <label>Rs: 120000.00</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="mb-0">Account</label>
                        </div>
                        <div class="col-sm-9 ">
                            <label>XXXXXXXXXXX9878</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="mb-0">Tenure</label>
                        </div>
                        <div class="col-sm-9 ">
                            <label>1 year 0 month</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="mb-0">Maturity date</label>
                        </div>
                        <div class="col-sm-9">
                            <label>12 JAN 2022</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="mb-0">Rate of interest</label>
                        </div>
                        <div class="col-sm-9">
                            <label>6.00%</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="mb-0">Maturity Amount</label>
                        </div>
                        <div class="col-sm-9">
                            <label>Rs: 123000.00</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-4">
                            <button (click)="preview=!preview;schemes=!schemes"
                                class="btn btn-danger mr-2 btn-fw">Back</button>
                            <button class="btn btn-info btn-fw float-right">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>